<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <video autoplay></video>

        <script>
        navigator.getUserMedia = navigator.getUserMedia
            || navigator.webkitGetUserMedia
            || navigator.mozGetUserMedia;

        function getCameras(sourceInfos) {

        }
        var constraints = {
            audio: true,
            video: {
                mandatory: {
                    maxWidth: 640,
                    maxHeight: 360
                }
            }
        };

        var videoArea = document.querySelector("video");

        navigator.getUserMedia(constraints, onSuccess, onError);

        function onSuccess(stream) {
            console.log("Success! We have a stream!");
            videoArea.src = window.URL.createObjectURL(stream);
            videoArea.play();
        }

        function onError(error) {
            console.log('Error with getUserMedia: ', error);
        }
        </script>
    </body>
</html>
