<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        <div id="cameraSelector">
            Video: <select id="camera"></select>
        </div>
        <p>
            <button id="takeProfilePicture" name="button" autofocus="true"></button>
        </p>

        <video id="videoTag" autoplay></video>
        <canvas id="profilePicCanvas" style="display: none;"></canvas>
        <div>
            <img id="profilePictureOutput">
        </div>
        <script src="static/js/tuto.js"></script>
    </body>
</html>
